<div id="banner" onclick="javascript:window.open(window.clickTag);">
	<div class="outline"></div>
	
	
	

	

	

	


	

	


	<div class="frame frame2">
		<img inline src="../_common/images/<%= width %>x<%= height %>/photo_blur.jpg" class="photo_blur" >

		<img inline src="../_common/images/<%= width %>x<%= height %>/photo.jpg" class="photo" >
		
		<div class="tri tri_1" id="tri"></div>
		<div class="tri tri_2" ></div>

		<img inline src="../_common/images/<%= width %>x<%= height %>/logo.png" class="retina logo shadow" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/plus.png" class="retina plus" >

		
		<img inline src="../_common/images/<%= width %>x<%= height %>/t3_a.png" class="retina t3_a shadow" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/t3_b.png" class="retina t3_b shadow" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/t3_c.png" class="retina t3_c shadow" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/t3_d.png" class="retina t3_d shadow" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/t3_e.png" class="retina t3_e shadow" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/t3_f.png" class="retina t3_f shadow" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/t3_g.png" class="retina t3_g shadow" >
		



	</div>

	<div class="frame frame1" id="frame1">
		<!-- <div class="red"></div> -->
		<img inline src="../_common/images/<%= width %>x<%= height %>/t1.png" class="retina t1" >
		
	</div>


	<div class="frame frame4">
		<img inline src="../_common/images/<%= width %>x<%= height %>/t4_a.png" class="retina t4_a" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/t4_b.png" class="retina t4_b" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/t4_c.png" class="retina t4_c" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/t4_d.png" class="retina t4_d" >		
		<img inline src="../_common/images/<%= width %>x<%= height %>/line.png" class="retina line ver" >		
		<img inline src="../_common/images/<%= width %>x<%= height %>/line.png" class="retina line hor" >		
		
	</div>

	<div class="frame frame5">
		<img inline src="../_common/images/<%= width %>x<%= height %>/t5_a.png" class="retina t5_a" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/t5_b.png" class="retina t5_b" >

		<img inline src="../_common/images/<%= width %>x<%= height %>/line.png" class="retina line ver" >		
		<img inline src="../_common/images/<%= width %>x<%= height %>/line.png" class="retina line hor" >		
	</div>




	<div class="frame frame6">

		<img inline src="../_common/images/<%= width %>x<%= height %>/end_logo.png" class="retina end_logo" >

		<img inline src="../_common/images/<%= width %>x<%= height %>/end_txt.png" class="retina end_txt" >

		<img inline src="../_common/images/<%= width %>x<%= height %>/end_cta.png" class="retina end_cta" >

		<img inline src="../_common/images/<%= width %>x<%= height %>/end_tag.png" class="retina end_tag" >
		
	</div>

	
	
	
</div>