<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">

		
		
		
		<img src="../_common/images/<%= width %>x<%= height %>/t1.png" class="retina neon t1" >
		
		



		<img src="../_common/images/<%= width %>x<%= height %>/logo.png" class="retina logo" >
		<img src="../_common/images/<%= width %>x<%= height %>/msg_<%= name %>.png" id="pn-casino-image" class="retina" >
		


		
		<img src="../_common/images/<%= width %>x<%= height %>/txt_end.png" class="retina txt_end" />
		<img src="../_common/images/<%= width %>x<%= height %>/cta.png" class="retina cta" >
		<img src="../_common/images/<%= width %>x<%= height %>/legal.png" class="retina legal" >
		
		<img src="../_common/images/<%= width %>x<%= height %>/age.png" class="retina age" >
		<img src="../_common/images/<%= width %>x<%= height %>/border.png" class="retina border" >
		
		

	</div>
	<div id="pn-bg-exit"></div>
	
</div>