<div id="banner" onclick="javascript:window.open(window.clickTag);">
	<div class="outline"></div>
	

	
	<div class="frame frame1 " id="frame1">		
		
	</div>



	<div class="frame frame2">

		<img inline src="../_common/images/<%= width %>x<%= height %>/photo_blur.jpg" class="photo_blur" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/photo.jpg" class="photo" >		

		<!-- <img inline src="../_common/images/<%= width %>x<%= height %>/f2.png" class="retina" > -->

		<div class="big-red">
			<div class="tri tri_1" id="tri"></div>
		</div>
		
		<img inline src="../_common/images/<%= width %>x<%= height %>/f1.png" class="retina t1" >

		
		<img inline src="../_common/images/<%= width %>x<%= height %>/f2_logo.png" class="retina f2_logo shadow" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/f2_plus.png" class="retina f2_plus" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/f2_blurb.png" class="retina f2_blurb shadow" >
		<!-- <img inline src="../_common/images/<%= width %>x<%= height %>/f2_url.png" class="retina t3_b shadow" > -->

	</div>



	<div class="frame frame3a ">

		<div class="big-red">
			<div class="tri tri_2" id="tri"></div>
		</div>
		
		
		<img inline src="../_common/images/<%= width %>x<%= height %>/f3a_1.png" class="retina f3a_1" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/f3a_2.png" class="retina f3a_2" >
			
		<img inline src="../_common/images/<%= width %>x<%= height %>/f3b_1.png" class="retina f3b_1" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/f3b_2.png" class="retina f3b_2" >

		
	</div>



	<div class="frame frame3b ">
		
				
				
	</div>
	


	<div class="frame frameEnd">
		<img inline src="../_common/images/<%= width %>x<%= height %>/end_logo.png" class="retina end_logo" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/end_txt.png" class="retina end_txt" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/end_cta.png" class="retina end_cta" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/end_tag.png" class="retina end_tag" >		
	</div>

	
	
	
</div>